<% content_for :header do %>
  <h1 class="welcome text-center">
    <%= render_blob 'welcome', 'header' %>
  </h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render_title 'welcome' %>

    <div class="text-center lead">
      <%= render_blob 'welcome', 'contents', markdown: true %>
    </div>
  </div>
</div>

<div class="row">
  <% @news_items.each do |news_item| %>
    <div class="col-md-4">
      <%= render_news_item news_item %>
    </div>
  <% end %>
</div>
