<div class="row">
  <div class="col-md-12">
    <h1 class="text-center page-header">
      <%= @news_item.title %>
    </h1>

    <p><img src="http://placehold.it/400x200" alt="" /></p>

    <p>
      <%= @news_item.description %>
    </p>
  </div>
</div>

<%= link_to 'Visa alla nyheter', news_items_path %>
