<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      <%= @news_item.title %>
    </h1>

    <p>
      <%= markdown @news_item.description %>
    </p>
  </div>
</div>

<%= link_to 'Visa alla nyheter', news_items_path %>
