<div class="row">
  <div class="col-md-12">
    <%= render_title 'about' %>

    <%= render_blob 'about', 'contents', markdown: true %>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag 'innergard1.jpg', width: '100%' %>
  </div>
  <div class="col-md-6">
    <%= image_tag 'innergard2.jpg', width: '100%' %>
  </div>
</div>
