// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faqs .faq {
  padding: 10px 10px 5px 10px;
}

.faqs .faq.highlight {
  border-radius: 3px;
  border: 1px solid #428bca;
}